version: "3.8"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql_local
    ports:
      - "3308:3306"
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: wire_barley
      MYSQL_USER: root
      MYSQL_PASSWORD: 1234
    volumes:
      - ./db/data:/var/lib/mysql
    command:
      - mysqld
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci

  redis:
    image: redis:alpine
    container_name: redis_local
    ports:
      - "6379:6379"