spring:
  profiles:
    active: local
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        use_sql_comments: 'true'
        format_sql: 'true'
        show_sql: 'true'
  datasource:
    username: root
    password: '1234'
    url: jdbc:mysql://localhost:3308/wire_barley
  flyway:
    enabled: false
    baseline-on-migrate: true
  redis:
    isSentinel: false
    host: redis
    port: 6379
    ttl: 600
logging:
  level:
    root: DEBUG